<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>


<form action="/book/save" method="post">
    <h1>Book Info:</h1>

    <input type="hidden" name="id" th:value="${book.id}"/>

    <div class="row">
        <label>Name:&nbsp;</label>
        <input type="text" name="name" th:value="${book.name}"/>
    </div>


    <select name="author_id" required>
        <option disabled selected value="-1">Выберите автора</option>
        <option th:if="${book.author != null}" th:each="author: ${authors}" th:text="${author.name}"
                th:value="${author.id}" th:selected="${book.author.id==author.id}"></option>
        <option th:unless="${book.author != null}" th:each="author: ${authors}" th:text="${author.name}"
                th:value="${author.id}"></option>
    </select>

    <select name="genre_id" required>
        <option disabled selected value="-1">Выберите жанр</option>
        <option th:if="${book.genre != null}" th:each="genre: ${genres}" th:text="${genre.name}" th:value="${genre.id}"
                th:selected="${book.genre.id==genre.id}"></option>
        <option th:unless="${book.genre != null}" th:each="genre: ${genres}" th:text="${genre.name}"
                th:value="${genre.id}"></option>
    </select>


    <div class="row">
        <button type="submit">Save</button>
        <button onclick="window.history.back()" type="button">Cancel</button>
    </div>

</form>

</body>
</html>
