<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
</head>
<body>


<form action="/author/save" method="post">
    <h2>Добавить/изменить автора:</h2>

    <input type="hidden" name="id" th:value="${author.id}"/>

    <div>
        <label>Name:&nbsp;</label>
        <input type="text" name="name" th:value="${author.name}"/>
    </div>

    <br>
    <div>
        <button type="submit">Save</button>
        <button onclick="window.history.back()" type="button">Cancel</button>
    </div>
</form>

</body>
</html>
