<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Жанры:</h1>

<table class="genres" border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>Имя</th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="genre: ${genres}">
        <td th:text="${genre.name}">Genre name</td>
        <td><a href="editAuthors.html" th:href="@{/genre/edit(id=${genre.id})}">Edit</a></td>
        <td>
            <form th:action="@{/genre/delete/}" method="post">
                <input type="hidden" name="id" th:value="${genre.id}"/>
                <input type="submit" value="Delete" class="button-link"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
<a href="/genre/create">Добавить новый жанр</a>

<footer th:insert="~{footer :: footer}"></footer>
</body>
</html>

